<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pavlov Experiment - UNR</title>
    @Styles.Render("~/Content/Site20160217.css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" type="image/png" href="~/bell.ico" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/stopwatch.js")
    @Scripts.Render("~/Scripts/mainVariables20160217.js")
    @Scripts.Render("~/Scripts/main20160217.js")
    
    @RenderSection("scripts", required: false)
</body>
</html>
